@media (max-width: 900px) {
	.sidebar {
		margin: 0;
		padding: 0;
		right: 0;
		position: fixed;
	}

	.sidebar .sidebar-inner {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 16px;
		background-color: var(--color-white);
		z-index: 10000;
	}

	.sidebar .sidebar-item {
		height: 50px;
		width: 50px;
		padding: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4px;
		color: var(--color-black);
	}

	.sidebar .tooltip {
		display: none;
	}

	.sidebar .profile-pic {
		display: none;
	}
}
/* mobile.css */

/* Ensure AppsMenu takes full width on mobile with some margin */
@media (max-width: 768px) {
	.apps-menu {
	  width: 90%;
	  left: 5%;
	  bottom: 10px;
	}
  
	.apps-flex-container {
	  gap: 12px;
	}
  
	.app-item {
	  width: 60px; /* Slightly larger for better touch interaction */
	}
  
	.app-icon {
	  width: 40px; /* Smaller icons for mobile */
	  height: 40px;
	}
  
	.app-name {
	  font-size: 10px;
	}
  
	.apps-menu-title {
	  font-size: 16px;
	}
  }
  