@media (max-width: 900px) {
	.sidebar-component {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		flex-direction: row;
		width: 100vw;
		justify-content: center;
		margin-left: 0;
		border-radius: 0;
		background-color: var(--color-white);
	}

	.sidebar-toggle {
		display: none;
	}
}
  