@media (max-width: 900px) {
	.sidebar-component .sidebar {
		margin: 0;
		padding: 0;
		right: 0;
		position: fixed;
	}

	.sidebar-component .sidebar-inner {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 16px;
		background-color: var(--color-white);
		z-index: 10000;
	}

	.sidebar-component .sidebar-item {
		height: 50px;
		width: 50px;
		padding: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4px;
		color: var(--color-black);
	}

	.sidebar-component .tooltip {
		display: none;
	}

	.sidebar-component .profile-pic {
		display: none;
	}

	.sidebar-component .sidebar-apps {
		display: none;
	}

	.sidebar-component .apps-menu {
	  width: 90%;
	  left: 5%;
	  bottom: 10px;
	}
  }
  