/* src/pages/SchedulePage/css/timeInputs.css */

.schedule-page .time-inputs {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .schedule-page .time-input {
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .schedule-page .time-input label {
	margin-bottom: 5px;
  }
  