
.day-calendar-page .shift-button {
	position: absolute;
	right: 30px;
	top: 130px;
  }

  .day-calendar-page .shift-options-container {
	position: absolute;
	top: 180px;
	right: 30px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	width: 150px;
	padding: 10px 0;
  }
  
  .day-calendar-page .shift-option {
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .day-calendar-page .shift-option:hover {
	background-color: #f1f1f1;
  }
  