:root {
	--color-background: #fff;
	--color-active-bg: #f5f5f5;
	--color-text: #333;
	--color-border: #a9aeb4;
  }
  
  .sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	background-color: var(--color-background);
	padding: 24px 16px;
	z-index: 10000;
  }
  
  .sidebar-item__collapsed {
	width: 80px;
  }
  
  .sidebar__collapse-button {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border-radius: 16px;
	background-color: var(--color-background);
	border: 1px solid var(--color-border);
	right: -10px;
	top: 16px;
	z-index: 10;
  }
  
  .sidebar-item {
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 16px;
	cursor: pointer;
	font-weight: 500;
	color: var(--color-text);
	transition: all 0.4s ease;
  }
  
  .sidebar-item__active {
	transform: scale(1);
	color: var(--color-text);
  }
  
  .sidebar-item__active-bg {
	position: absolute;
	inset: 0px;
	border-radius: 8px;
	color: var(--color-text);
	background-color: var(--color-active-bg);
  }
  
  .sidebar-item__icon {
	position: relative;
	display: flex;
  }
  
  .sidebar-item__icon:hover .tooltip {
	opacity: 1;
	visibility: visible;
  }
  
  .tooltip {
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%) translateX(18px);
	background-color: var(--color-background);
	color: var(--color-text);
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid var(--color-border);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .sidebar-item__title {
	position: relative;
  }
  
  .main-content {
	background-color: var(--color-active-bg);
	color: var(--color-text);
	flex-grow: 1;
	padding: 32px;
  }