/* src/components/DayCalendar/css/dayCalendar.css */

.day-calendar {
	position: relative;
	height: 100vh;
	left: -40px;
	top: 15px;
  }
  
  .controls {
	position: fixed;
	top: 190px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transform: translateY(-50%);
	z-index: 100;
  }
  
  .control-button {
	background-color: var(--color-blue);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	cursor: pointer;
  }

  .plus {
	width: 40px;
  }
  
  .control-button:hover {
	background-color: darkblue;
  }
  
  @media (max-width: 900px) {
	
	.day-calendar {
		left: -15px;
	  }

	  .controls {
		top: 150px;
	  }
	  
  }