/* breadcrumb.css */

.breadcrumb-component .breadcrumb {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-bottom: 10px;
  }
  
  .breadcrumb-component .breadcrumb-app {
	color: #7a7a7a;
  }
  
  .breadcrumb-component .breadcrumb-link {
	text-decoration: none;
	color: #7a7a7a;
	transition: color 0.3s ease;
  }
  
  .breadcrumb-component .breadcrumb-link:hover {
	color: #007bff;
  }
  
  .breadcrumb-component .breadcrumb-separator {
	margin: 0 5px;
	color: #7a7a7a;
  }
  
  .breadcrumb-component .breadcrumb-path .breadcrumb-current {
	color: #007bff;
  }
  