.withHeader {
	background-color: var(--color-bg);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
	padding-top: 50px;
	padding-left: 50px;
  }
