/* reservationRow.css */

/* Desktop styles */

.reservations-page .reservation-row {
	display: contents;
  }
  
  .reservations-page .reservation-row > div {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 7px;
	border-bottom: 1px solid lightgray;
  }
  
  /* Mobile styles */
  
  .reservation-row-mobile {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px; /* Optional: Adds slight rounding to the box */
  }
  
  .reservation-item {
	margin-bottom: 10px;
  }
  
  .reservation-item .label {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  /* Buttons container to align buttons horizontally */
  .buttons-container {
	display: flex;
	justify-content: flex-start;
	gap: 10px; /* Adds space between the buttons */
  }
  
  /* Edit Button Styles */
  .edit-button {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	border: none;
	border-radius: 20px; /* Makes the button rounded */
	background-color: #007bff; /* Bootstrap primary blue color */
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	height: 45px;
	margin-top: 15px;
	transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
	background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Delete Button Styles */
  .delete-button {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	border: none;
	border-radius: 5px; /* Makes the button rounded */
	background-color: red; /* Red background for delete */
	color: white;
	cursor: pointer;
	font-size: 16px;
	height: 45px;
	margin-top: 15px;
	transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
	background-color: darkred; /* Darker red on hover */
  }
  
  /* Icon Styles within Buttons */
  .button-icon {
	margin-right: 8px; /* Space between icon and text */
	display: flex;
	align-items: center;
	font-size: 16px; /* Adjust icon size as needed */
  }
  
  /* Optional: Ensure buttons are accessible and responsive */
  @media (max-width: 768px) {
	.edit-button,
	.delete-button {
	  width: 100%;
	  justify-content: center;
	}
  }
  