/* reservationRow.css */

.reservations-page .reservation-row {
	display: contents;
  }
  
  .reservations-page .reservation-row > div {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 7px;
	border-bottom: 1px solid lightgray;
  }
  