:root {
	--color-white: #fbfbfb;
	--color-bg: #eaeaea;
	--color-black: #000;
	--color-nav-selection: #f3f3f3;
	--color-border: #a4a4a4;
	--color-blue-hover:rgb(0, 91, 189);
	--color-blue: #007BFF;
	--color-lightblue: #00bbff;
	--color-modal-bg: rgba(0, 0, 0, 0.5);
	--mobile-max-width: 900px;
	--color-accent: #474747;
	--color-accent-main: #474747;
	--color-red: #d32f2f;
	--color-cancel: #ccc;
  }