
:root {
	--border-radius: 10px;
}

.app-component {
	display: flex;
	height: 100vh;
	margin-top: 60px;
  }
  
.content-routing {
	flex: 1;
	margin-left: 60px;
  }
  
  body {
	background-color: var(--color-bg);
  }
  .button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 5px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.button:hover {
	background-color: #0056b3;
	cursor: pointer;
}

.secondary-title {
	text-align: center;
	margin-bottom: 20px;
}

.secondary-title-small {
	font-size: 22px;
}

  .success-message {
	display: flex;
	align-items: center;
	background-color: #d4edda;
	color: #155724;
	padding: 15px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 600px;
  }
  
  .success-icon {
	font-size: 24px;
	margin-right: 10px;
  }
  

  .modal {
	z-index: var(--z-index-modal) !important;
  }