
:root {
	--border-radius: 10px;
}

.app-component {
	display: flex;
	height: 100vh;
	overflow: hidden;
	margin-top: 60px;
  }
  
.content-routing {
	flex: 1;
	overflow: hidden;
	margin-left: 60px;
  }
  
  body {
	background-color: var(--color-bg);
  }
  .button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.button:hover {
	background-color: #0056b3;
	cursor: pointer;
}