
@media (max-width: 1000px) {
	.form-editing-page .palette {
	  width: 100%;
	  order: 2;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .editor-container {
	  flex-direction: column;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .canvas {
	  width: 100%;
	  order: 1;
	}
  }

.palette-responsive {
	width: 100%;
	order: 2;
  }
  
  .editor-container-responsive {
	flex-direction: column;
  }
  
  .canvas-responsive {
	width: 100%;
	order: 1;
  }
  