
@media (max-width: 1000px) {
	.form-editing-page .palette {
	  width: 100%;
	  order: 2;
	  margin-bottom: 220px;
	  margin-left: 0px;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .editor-container {
	  flex-direction: column;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .canvas {
	  width: 100%;
	  order: 1;
	  min-height: 300px;
	  margin-bottom: 0px;
	}
  }

.palette-responsive {
	width: 100% !important;
	order: 2;
	margin-bottom: 220px;
	margin-left: 0px;
  }
  
  .editor-container-responsive {
	flex-direction: column;
  }
  
  .canvas-responsive {
	width: 100%;
	order: 1;
	margin-bottom: 0px;
  }
  