
@media (max-width: 1000px) {
	.form-editing-page .palette {
	  width: 100%;
	  order: 2;
	  margin-bottom: 220px;
	  margin-left: 0px;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .editor-container {
	  flex-direction: column;
	}
  }
  
  @media (max-width: 1000px) {
	.form-editing-page .canvas {
	  width: 100%;
	  order: 1;
	  min-height: 300px;
	  margin-bottom: 0px;
	  padding: 0 !important;
	}
  }

/* Palette Responsive Styles */
.palette-responsive {
	width: 100% !important;
	order: 2;
	margin-bottom: 220px;
	margin-left: 0px;
	padding-right: 20px;
	flex-grow: 0; /* Do not grow beyond the assigned space */
  }
  
  /* Editor Container Responsive Styles */
  .editor-container-responsive {
	flex-direction: column;
	display: flex;
  }
  
  /* Canvas Responsive Styles */
  .canvas-responsive {
	width: 100%;
	order: 1;
	margin-bottom: 0px;
	padding: 0 !important;
	height: calc(80%); /* Increase the minimum height to make canvas more prominent */
  }
  