
.form-editing-page .editor-container {
	display: flex;
	height: 100vh;
	width: 100%;
	margin-top: 30px;
  }
  
  .form-editing-page .themes-button {
	position: absolute;
	top: 120px;
	right: 50px;
	background-color: transparent;
	color: gray;
	border: 1px solid gray;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1000000;
	transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.form-editing-page .themes-button:hover,
.form-editing-page .themes-button:focus {
	transform: scale(1.06); /* Scale up the button slightly on hover or focus */
}
  
  .form-editing-page .themes-button .icon {
	margin-right: 5px;
  }
  

  