.split-screen .Pane {
	height: 100%;
	overflow: auto;
}
  
.split-screen .Resizer {
	background: var(--color-black);
	opacity: 0.2;
	z-index: 1;
	cursor: col-resize;
	width: 5px;
	margin: 0 -2px;
	box-sizing: border-box;
}
  
.split-screen .Resizer:hover {
	opacity: 0.5;
}
  