/* NavButton link styling */
.nav-button__link {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	color: #2c3e50;
	text-decoration: none;
	transition: background-color 0.3s ease, padding-left 0.3s ease;
  }
  
  .nav-button__link:hover {
	background-color: #e0e0e0;
  }
  
  /* Icon and label styling */
  .nav-button__icon {
	margin-right: 10px;
	font-size: 1.5rem;
	transition: font-size 0.3s ease-in-out, margin-right 0.3s ease-in-out;
  }
  
  .nav-button__label {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
  }
  
  /* Styling when sidebar is collapsed */
  .sidebar.collapsed .nav-button__label {
	opacity: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.1s ease-in-out, width 0.3s ease-in-out;
  }
  
  .sidebar.collapsed .nav-button__icon {
	font-size: 2rem; /* Increase icon size when collapsed */
	margin-right: 0; /* Remove margin for better alignment */
  }
  