/* src/components/ReservationForm/css/reservationForm.css */

.reservation-summare .account-manage-container {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 600px;
	text-align: center;
	background-color: white;
  }
  
  .reservation-summare .modal-title {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
  }
  
  .reservation-summary {
	padding: 20px;
  }
  
  .reservation-summary .reservation-details {
	list-style-type: none;
	padding: 0;
  }
  
  .reservation-summary .reservation-details li {
	margin-bottom: 10px;
	text-align: left;
  }
  