/* ./css/calendarDay.css */

.calendar-day {
	/* border: 1px solid #ccc; */
	min-height: 100px;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .calendar-day:not(.heatmap-mode) {
	border: 1px solid #ccc;
  }
  
  .calendar-day.heatmap-mode {
	border: none;
  }
  
  .calendar-day:hover {
	transform: scale(1.05);
  }
  
  .calendar-grid-body .calendar-day {
	opacity: 1;
	transition: opacity 0.3s ease;
  }
  
  .calendar-day-number {
	position: absolute;
	top: 5px;
	right: 5px;
  }
  
  .calendar-day--disabled {
	background-color: #e0e0e0;
  }
  
  .calendar-day--past {
	opacity: 0.5;
  }
  
  .calendar-day--today {
	background-color: lightblue;
	border: 2px solid var(--color-blue);
	opacity: 1 !important;
  }
  
  .time-of-day-boxes {
	margin-top: 25px; /* Increased margin between date number and boxes */
  }
  
  .heatmap-total-guests {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 18px;
	font-weight: bold;
	opacity: 0;
	transition: opacity 0.3s ease;
  }
  
  .calendar-day:hover .heatmap-total-guests {
	opacity: 1;
  }
  