/* ./css/calendarHeader.css */

.calendar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 100%;
	max-width: 800px;
  }
  
  .calendar-header h2 {
	margin: 0;
	text-align: center;
	flex-grow: 1;
  }
  
  .calendar-header .nav-button {
	background: none;
	border: none;
	cursor: pointer;
	color: #000;
  }
  
  .calendar-header .nav-button:hover {
	color: var(--color-blue);
  }
  
  .calendar-header .header-buttons {
	display: flex;
	align-items: center;
  }
  
  .calendar-header .heatmap-button {
	margin-right: 5px;
	display: flex;
	align-items: center;
  }
  
  .calendar-header .heatmap-button .fa-icon {
	margin-right: 5px;
  }
  