/* ./css/calendarGrid.css */

.calendar-component .calendar-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.calendar-component .calendar-grid-header,
.calendar-component .calendar-grid-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-component .calendar-grid-header div {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    background-color: #f0f0f0;
}

.calendar-component .calendar-grid-header {
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.calendar-grid-totals {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Added spacing above the report */
}

.calendar-report-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-report-table th,
.calendar-report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.calendar-report-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

.calendar-report-table td {
    color: #555;
}

.calendar-report-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Specific font colors for each time slot */
.calendar-grid-totals .ochtend {
    color: #182825; /* Ochtend color */
}

.calendar-grid-totals .middag {
    color: #016FB9; /* Middag color */
}

.calendar-grid-totals .avond {
    color: #22AED1; /* Avond color */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .calendar-report-table {
        padding: 10px 15px;
    }

    .calendar-report-table th,
    .calendar-report-table td {
        padding: 6px;
    }
}
