/* ./css/reservation-details-modal.css */

.reservation-modal-content h2 {
	text-align: center;
	margin: 20px 0;
  }
  
  .reservation-table {
	margin-top: 20px;
  }
  
  .reservation-row {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
  }
  
  .reservation-main-info {
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  
  .reservation-main-info .arrow-icon {
	margin-right: 10px;
	transition: transform 0.3s;
  }
  
  .reservation-main-info .arrow-icon.expanded {
	transform: rotate(180deg);
  }
  
  .reservation-details {
	padding-left: 20px;
	overflow: hidden;
  }
  