/* ./css/reservationDetailsModal.css */

.reservation-modal-content h2 {
	text-align: center;
	margin: 20px 0;
  }
  
  .reservation-table {
	margin-top: 20px;
  }
  
  .reservation-row {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	font-size: 15px; /* Increased font size by 1px */
  }
  
  .reservation-main-info {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px; /* Increased margin between items */
  }
  
  .reservation-main-info .arrow-icon {
	margin-right: 10px;
	transition: transform 0.3s;
  }
  
  .reservation-main-info .arrow-icon.expanded {
	transform: rotate(180deg);
  }
  
  .reservation-details {
	padding-left: 30px;
	overflow: hidden;
  }
  
  .reservation-details > div {
	margin-bottom: 5px; /* Increased margin between details */
  }
  
  .reservation-buttons {
	display: flex;
	gap: 10px;
	margin-top: 10px;
  }
  
  .reservation-buttons .standard-button {
	font-size: 12px;
	padding: 5px 10px;
  }
  
  .reservation-buttons .standard-button.red {
	background-color: var(--color-red);
	color: #fff;
  }
  
  .reservation-buttons .standard-button.blue {
	background-color: var(--color-blue);
	color: #fff;
  }
  