/* src/components/DragAndDropEditor/css/block.css */

.form-editing-page .block {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	box-sizing: border-box;
	transition: border 0.2s ease, box-shadow 0.2s ease;
  }
  
  .form-editing-page .block.selected {
	border: 2px solid var(--color-bg);
	box-shadow: 0 0 10px rgba(24, 144, 255, 0.5);
  }
  
  .form-editing-page .drag-handle {
	cursor: grab;
	margin-right: 10px;
	color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  }
  
  .form-editing-page .drag-handle:hover {
	color: #999;
  }
  
  .form-editing-page .block-content {
	flex-grow: 1;
  }
  
  .form-editing-page .block-content label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
  }
  
  .form-editing-page .block-content input,
  .form-editing-page .block-content select,
  .form-editing-page .block-content textarea {
	width: 100%;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .form-editing-page .block-content textarea {
	resize: vertical;
	height: 80px;
  }
  
  .form-editing-page .block-content p {
	margin: 0;
	font-size: 18px;
  }
  
  .form-editing-page .action-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
  }
  
  .form-editing-page .action-icons button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 5px;
	transition: transform 0.2s ease;
  }
  
  .form-editing-page .action-icons button:hover {
	transform: scale(1.2);
  }
  
  .form-editing-page .edit-button svg {
	color: #000;
	font-size: 18px;
  }
  
  .form-editing-page .delete-button svg {
	color: #f5222d;
	font-size: 18px;
  }
  
  .form-editing-page .action-icons button + button {
	margin-top: 5px;
  }
  
  /* Input field when editing label */
  .form-editing-page .block-content input[type='text'] {
	margin-bottom: 10px;
  }
  