/* header.css */
.withHeader {
	background-color: var(--color-bg);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
  
.withHeader > * {
	padding-left: 30px;
}

.withHeader > h1{
	padding-top: 30px;
}

  