/* Components/SplitScreen/SplitScreen.css */
.withHeader {
	background-color: rgb(234, 234, 234);
	height: 100%;
	width: 100%;
	padding-left: 50px;
	padding-top: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
  }
  
  .withHeader > h1 {
	margin: 0;
	padding-bottom: 20px;
  }
  
  .withHeader > div {
	flex: 1;
	overflow: auto;
  }
  
  .SplitPane {
	height: 100vh; /* Ensure the split pane fills the viewport height */
  }
  
  .Pane {
	height: 100%;
  }
  
  .Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	cursor: col-resize;
	width: 5px;
	margin: 0 -2px;
	box-sizing: border-box;
  }
  
  .Resizer:hover {
	opacity: 0.5;
  }
  