/* src/Pages/Uitzonderingen/css/calendar.css */

/* Calendar Styles */
.exceptions-page__calendar {
	margin-bottom: 20px;
  }
  
  .exceptions-page__calendar-header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 10px;
  }
  
  .exceptions-page__calendar-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5rem;
	cursor: pointer;
  }
  
  .exceptions-page__calendar-nav:hover {
	color: var(--color-blue);
  }
  
  .exceptions-page__calendar-nav:first-child {
	left: 10px;
  }
  
  .exceptions-page__calendar-nav:last-child {
	right: 10px;
  }
  
  .exceptions-page__calendar h3 {
	margin: 0;
  }
  
  .exceptions-page__calendar-table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .exceptions-page__calendar-table th,
  .exceptions-page__calendar-table td {
	width: 14.28%;
	text-align: center;
	padding: 5px;
  }
  
  .exceptions-page__calendar-cell {
	height: 50px;
  }
  
  .exceptions-page__calendar-day {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	margin: auto;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	animation: fadeIn 0.5s forwards;
  }
  
  .exceptions-page__calendar-day:hover {
	background-color: #e0e0e0;
  }
  
  @keyframes fadeIn {
	to {
	  opacity: 1;
	}
  }
  
  /* Legend Styles */
  .exceptions-page__calendar-legend {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 10px;
  }
  
  .exceptions-page__calendar-legend-box {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 50%;
  }
  
  .exceptions-page__calendar-legend .tag-opening {
	background-color: var(--color-green);
  }
  
  .exceptions-page__calendar-legend .tag-uitzondering {
	background-color: var(--color-blue);
  }
  
  .exceptions-page__calendar-legend .tag-sluiting {
	background-color: var(--color-orange);
  }
  
  @media (max-width: 768px) {
	.exceptions-page__calendar-table th,
	.exceptions-page__calendar-table td {
	  padding: 2px;
	}
  
	.exceptions-page__calendar-day {
	  height: 30px;
	  width: 30px;
	}
  
	.exceptions-page__calendar-nav {
	  font-size: 1.2rem;
	}
  }
  