/* src/components/NewReservation/css/guestNumberSelector.css */

.guest-number-selector-container {
	position: relative;
  }
  
  .guest-number-display {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid var(--theme-color, #5DADE2);
	cursor: pointer;
	user-select: none;
	text-align: left;
	border-radius: 5px;
  }
  
  .guest-number-display span:first-child {
	flex-grow: 1;
  }
  
  .arrow {
	margin-left: auto;
	color: gray;
	display: flex;
	align-items: center;
  }
  
  .guest-number-selector {
	position: absolute;
	z-index: 1000;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #ccc;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
	animation: fadeInGuestSelector 0.3s ease-in-out;
	top: 75px;
  }
  
  @keyframes fadeInGuestSelector {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  .guest-number-options {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
  }
  
  .guest-number-option {
	width: 45px;
	height: 45px;
	background-color: #fff;
	border: 1px solid var(--theme-color, #5DADE2);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 45px;
  }
  
  .guest-number-option.selected,
  .guest-number-option:hover {
	background-color: var(--theme-button-color, #5DADE2);
	border: 1px solid var(--theme-button-color, #5DADE2);
	color: #fff;
  }
  
  .guest-number-custom-option {
	flex: 1 1 100%; /* Make this option take up the full width */
	text-align: center;
  }
  
  .guest-number-custom-input {
	margin-top: 10px;
  }
  
  .guest-number-custom-input input {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--theme-color, #5DADE2);
	border-radius: 5px;
	font-size: 16px;
  }
  
  .guest-number-custom-input input:focus {
	border-color: var(--theme-color, #5DADE2);
	outline: none;
  }
  
  @media screen and (max-width: 480px) {
	.guest-number-option {
	  width: 40px;
	  height: 40px;
	  font-size: 14px;
	  line-height: 40px;
	}
  }
  