
.paneNavigator {
  padding: 0;
  padding-top: 10px;
}

.paneNavigator {
  padding: 0;
  padding-top: 10px;
}

.react-tabs__tab--selected {
  background-color: var(--color-bg);
}

.paneNavigator .close-icon {
  margin-left: 8px;
  color: var(--color-text);
  font-size: 12px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.paneNavigator .close-icon:hover {
  opacity: 1;
}

.popover h1 {
  margin-top: -40px;
}

/* New CSS Added for Draggable Tabs */

/* Style the draggable tab list */
.paneNavigator .react-tabs__tab-list {
  display: flex; /* Ensure tabs are displayed horizontally */
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg);
}

/* Style the draggable tabs */
.paneNavigator .react-tabs__tab {
  position: relative;
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  transition: background-color 0.2s ease-in-out;
  display: flex; /* Align label and close icon horizontally */
  align-items: center;
}


/* Adjust the SplitScreen container if needed */
.split-screen {
  flex: 1;
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}
