/* Components/SplitScreen/SplitScreen.css */
.split-screen {
	height: 100%; /* Fill the parent container's height */
  }
  
  .SplitPane {
	height: 100%;
  }
  
  .Pane {
	height: 100%;
  }
  
  .Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	cursor: col-resize;
	width: 5px;
	margin: 0 -2px;
	box-sizing: border-box;
  }
  
  .Resizer:hover {
	opacity: 0.5;
  }
  