/* SplitScreen.css */
.split-screen {
	flex: 1; /* Allows it to fill the parent container */
	display: flex;
	height: 100%;
	overflow: hidden;
  }
  
  .SplitPane {
	height: 100% !important;
	width: 100% !important;
	position: relative; /* Ensures it respects parent dimensions */
  }
  
/* Components/SplitScreen/SplitScreen.css */
.Pane {
	height: 100%;
	overflow: auto; /* Add this line */
  }
  
  
  .Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	cursor: col-resize;
	width: 5px;
	margin: 0 -2px;
	box-sizing: border-box;
  }
  
  .Resizer:hover {
	opacity: 0.5;
  }
  