/* Draggable Components List Container */
.draggable-components-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
  }
  
  /* No Results Message */
  .no-results {
	font-size: 14px;
	color: #777;
	text-align: center;
  }
  