/* Common Table Styles for FloorPlan and Sidebar */
.table {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffebcd; /* Blanched Almond */
	border: 2px solid #d2b48c; /* Tan */
	position: relative;
  }
  
  .table.round {
	border-radius: 50%;
  }
  
  .table.square {
	border-radius: 8px;
  }
  
  /* Capacity Indicator */
  .capacity {
	font-size: 10px;
	color: #555;
  }
  