/* src/components/Modal/css/modalContent.css */

/* Existing styles... */

.weekly-schedule-container {
	display: flex;
	align-items: center;
	background-color: #f0f0f0; /* Light gray background */
	border: 1px solid #ccc; /* Gray border */
	padding: 10px 15px;
	border-radius: 8px;
	margin-bottom: 20px; /* Space below the container */
  }
  
  .weekly-schedule-icon {
	color: #555; /* Gray color for the icon */
	font-size: 35px;
	margin-right: 10px; /* Space between icon and text */
  }
  
  .weekly-schedule-container span {
	font-size: 15px;
	font-style: italic;
	color: #333; /* Darker text for better readability */
  }
  
  /* Optional: Responsive adjustments */
  @media (max-width: 600px) {
	.weekly-schedule-container {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.weekly-schedule-icon {
	  margin-bottom: 5px;
	}
  }
  
  /* Existing styles... */
  

  .day-calendar-page .modal-label {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
  }
  
  .day-calendar-page .modal-label input,
  .day-calendar-page .modal-label select {
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 40px;
  }
  
  .day-calendar-page .modal-buttons {
	display: flex;
	justify-content: right;
	margin-top: 10px;
  }
  
  .day-calendar-page .time-inputs-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	width: 100%;
  }
  
  .day-calendar-page .time-input {
	width: 100%;
  }
  
  .day-calendar-page .time-input input {
	width: 100%;
  }

