

  .day-calendar-page .modal-label {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
  }
  
  .day-calendar-page .modal-label input,
  .day-calendar-page .modal-label select {
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 40px;
  }
  
  .day-calendar-page .modal-buttons {
	display: flex;
	justify-content: right;
	margin-top: 10px;
  }
  
  .day-calendar-page .time-inputs-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	width: 100%;
  }
  
  .day-calendar-page .time-input {
	width: 100%;
  }
  
  .day-calendar-page .time-input input {
	width: 100%;
  }

