/* src/components/Modal/css/modalContent.css */

/* Existing styles... */

.day-calendar-page .close-message {
	font-size: 12px;
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 5px;
	font-style: normal !important;
	font-size: 14px !important;
  }
  
  .day-calendar-page .close-message:hover {
	color: #0056b3;
  }

.day-calendar-page .weekly-schedule-message {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0;
	margin-left: 5px;
  }

  .left-margin {
	margin-left: 10px;
  }

.day-calendar-page .weekly-schedule-container {
	display: flex;
	align-items: center;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 10px 15px;
	border-radius: 8px;
	margin-bottom: 20px;
  }
  
  .day-calendar-page .weekly-schedule-icon {
	color: #555;
	font-size: 35px;
	margin-right: 10px;
  }
  
  .day-calendar-page .weekly-schedule-container span {
	font-size: 15px;
	font-style: italic;
	color: #333;
  }
  
  .day-calendar-page .modal-label {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
  }
  
  .day-calendar-page .modal-label input,
  .day-calendar-page .modal-label select {
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 40px;
  }
  
  .day-calendar-page .modal-buttons {
	display: flex;
	justify-content: right;
	margin-top: 10px;
  }
  
  .day-calendar-page .time-inputs-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	width: 100%;
  }
  
  .day-calendar-page .time-input {
	width: 100%;
  }
  
  .day-calendar-page .time-input input {
	width: 100%;
  }

