  /* Responsive Adjustments */
  @media (max-width: 900px) {
	.secondary-top-bar-component .secondary-top-bar {
		margin-bottom: 50px;
	}
  
	.secondary-top-bar-component .buttons-container {
	  gap: 20px;
	}
  
	.secondary-top-bar-component .secondary-button {
	  font-size: 14px;
	  padding: 6px 0;
	}

	.secondary-top-bar-component .secondary-top-bar {
		height: 60px;
		top: 60px;
	  }
	
	  .secondary-top-bar-component .buttons-container {
		gap: 20px;
	  }
	
	  .secondary-top-bar-component .secondary-button {
		font-size: 14px;
		padding: 6px 0;
	  }
  }