/* reservationNumber.css */

.reservation-number {
	width: 50px;
	display: flex;
	align-items: center;
  }
  
  .users-icon {
	color: var(--color-blue);
	margin-left: 5px;
  }
  
  .users-icon-gray {
	color: gray;
	margin-left: 5px;
  }
  
  .users-icon-red {
	color: red;
	margin-left: 5px;
  }
  