/* src/components/ReservationsList/css/reservationRow.css */

.reservation-row {
	display: contents;
  }
  
  .reservation-row > div {
	padding: 10px;
	border-bottom: 1px solid lightgray;
  }
  
  .profile-name {
	display: flex;
	align-items: center;
  }
  
  .name-link {
	color: var(--color-blue);
	text-decoration: none;
  }
  
  .extra-actions {
	display: flex;
	align-items: center;
  }
  
  .note-icon,
  .menu-icon {
	margin-right: 10px;
	position: relative;
	cursor: pointer;
  }
  