/* src/components/ReservationsList/css/reservationRow.css */

.reservation-row {
	display: contents;
  }
  
  .reservation-row > div {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 7px;
	border-bottom: 1px solid lightgray;
  }
  
  .profile-name {
	display: flex;
	align-items: center;
  }
  
  .name-link {
	color: var(--color-blue);
	text-decoration: none;
  }

  .name-link:hover {
	text-decoration: underline;
  }
  
  .extra-actions {
	display: flex;
	align-items: center;
  }
  
  .note-icon,
  .menu-icon {
	margin-right: 10px;
	position: relative;
	cursor: pointer;
  }
  
  .users-icon {
	color: var(--color-blue);
	margin-left: 5px;
  }

  .users-icon-gray {
	color: gray;
	margin-left: 5px;
  }

  .users-icon-red {
	color: red;
	margin-left: 5px;
  }