
.reservations-page .search-bars-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 25px;
	background-color: var(--color-bg) !important;
  }
  
  .reservations-page .search-bar {
	flex: 1;
	margin: 0 10px;
	font-size: 15px;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: var(--color-bg) !important;
  }
  