

/* CSS for the tab bar */
.form-settings-page .settings-tabs {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form-settings-page .tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-settings-page .buttons-container {
  display: flex;
}

.form-settings-page .tab-underline {
  border-radius: 5px;
}

.form-settings-page .tab-button {
  position: relative;
  padding: 10px 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #777777;
}

.form-settings-page .tab-button.active {
  color: var(--color-blue);
}

.form-settings-page .tab-underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-blue);
}
